@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

/* Source Material for Custom CSS
/* https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties */
/* https://tailwindcss.com/docs/configuration/#app */

/* Defaults to allow data-theme to overwrite them */
/* :root {
  --bg-background-primary: #FFF;
  --bg-background-secondary: #f3f5f4;
  --bg-background-tertiary: #e2e8f0;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #4a5568;

  --border-border-color-primary: white;
}; */

/* Pass through values from root */
/* .light-mode {
  --bg-background-primary: var(--bg-background-primary);
  --bg-background-secondary: var(--bg-background-secondary);
  --bg-background-tertiary: var(--bg-background-tertiary);

  --text-copy-primary: var(--text-copy-primary);
  --text-copy-secondary: var(--text-copy-secondary);

  --border-border-color-primary: var(--border-border-color-primary);
} */

/* Override values from root */
/* .dark-mode {
  --bg-background-primary: #0D2438;
  --bg-background-secondary: #102C44;
  --bg-background-tertiary: #1E3951;

  --text-copy-primary: #cbd5e0;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
} */

/* Override values from root */
/* .sepia-mode {
  --bg-background-primary: #f1e7d0;
  --bg-background-secondary: #eae0c9;
  --bg-background-tertiary: #eadec2;

  --text-copy-primary: #2d3748;
  --text-copy-secondary: #e2e8f0;

  --border-border-color-primary:  #1a202c;
} */

/* Non-blocking Font-Awesome icons */

html.fa-events-icons-loading header,
html.fa-events-typefaces-lato-loading header,
html.fa-events-typefaces-orbitron-loading header {
  visibility: hidden;
}

.fa {
  display: inline-block;
}
/* End Font Awesome */

.content-wrapper {
  transition: background-color .25s;
}

a {
  @apply font-bold;
}

.container-inner {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 640px) {
  .container-inner {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container-inner {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container-inner {
    max-width: 800px;
  }
}

.responsive-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.app {
  width: 100vw;
  height: 500vh;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1; /* Or flex-grow: 1;*/
}
